{
  "package.json": "pnpm sort:package",
  "**/*.{ts,tsx}": [
    "bash -c tsc --noEmit",
    "pnpm eslint --max-warnings=0 -f mo --no-warn-ignored",
    "pnpm jest --findRelatedTests --bail --passWithNoTests --config ./jest.config.husky.ts"
  ]
}
