{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-sort-json"],
  "jsonSortOrder": "{\"*\": \"lexical\"}",
  "jsonRecursiveSort": true
}
